.footer {
  width: 100%;
  background-color: lightgray;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  overflow-x: hidden;
}

@media (min-width: 350px) {
  .footer {
    flex-direction: row;
  }
}

.footer img {
  width: 100px;
  margin: 8px;
  /* height: 100px; */
}

.contact {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-block-start: 0;
  margin-block-end: 0;
}
